.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.task-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.task-description {
    margin-left: 10px;
}

.reset-button {
    margin: 10px;
}